.btn-face {
    position:fixed;
    width: 60px;
    height: 60px;
    bottom: 90px;
    right: 20px;
    background-color: #0033db ;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px black;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: ease all 0.3s;
    opacity: 0.5;
}
.btn-face:hover{
    background-color: #001d7c;
    transform: scale(1.1);
    opacity: 1;
}
.btn-face img{
    width: 60x;
    height: 60px;
}